body {
  width: 1440px;
  padding: 15px;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* gap: 10px; */
  row-gap: 10px;
  column-gap: 20px;
  padding-bottom: 20px;
  list-style: none;
}
.gallery {
  max-width: 1128px;
  max-height: 300px;
}

.gallery-image {
  width: 360px;
  /* height: 200px; */
}
